.container
	.row
		
		.col-sm-6.col-sm-offset-3
			.div{:style => "padding-top:30px;"}
				%h1{:style => "font-size:4em;"} Here Today
				%h3 Daily Art on Your Street
				%p a community art project
			.div{:style => "padding-top:30px;"}
				%p Goal: To build community, inspire, express and love today.
			.div{:style => "padding-top:30px;"}
				= link_to "Join the Community", "https://docs.google.com/forms/d/1v38f-rE1q6cMYI0s3bKPtDEiJ5uZPzQwiW-Xd8nod6o/viewform", :class => "btn btn-default btn-lg"
			.div{:style => "padding-top:30px;"}
				%p How it works:
				%h4 1) Select a public space near your home.
				%p Could be the wall of your house that is near the street, could be a fence or could be a local bulitin board.
			.div{:style => "padding-top:10px;"}
				%h4 2) Every morning, spend 2 minutes making art.
				%p It is not about doing it well, it is just about doing it. Mistakes are part of life. Just dive in and give it a try / enjoy the process. Drawing or painting and other art is great. Just choose something easy to do.  Also, doing it before you shower is a great tip as well.
			.div{:style => "padding-top:10px;"}
				%h4 3) As you leave the house, go to where you post your art.
				%p Installing binder clips is a great way to easily take down and put up pieces.
			.div{:style => "padding-top:10px;"}
				%h4 4) Take down the art from yesterday
				%p If you want to be hard core and really let go of yesterday, you can give it a crumple and throw it in the recycling.
			.div{:style => "padding-top:10px;"}
				%h4 5) Put up todays piece
				%p Take a breadth, smile and get going on your day! You have already created something amazing!  :)
			.div{:style => "padding-top:30px;"}
				%p How to get started
				%h4 Get these 5 things (or other things are great to)
				%p Newsprint paper (Really Cheap )
				%p Ink Bush
				%p Ink 
				%p Binder clips
				%p Mounting Nails (small nails that are designed to hold phone wires to the wall)
			.div{:style => "padding-top:30px;"}
				%p 
					Want to do it?  Thats great!  Go for it!  Also you can join the community  
					=link_to "here", "https://docs.google.com/forms/d/1v38f-rE1q6cMYI0s3bKPtDEiJ5uZPzQwiW-Xd8nod6o/viewform"
